@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 5rem;
		--normal-font-size: 1rem;
	}
}
@media screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		padding: 3.5rem 1.5rem 0;
		top: 0;
		right: -100%;
		width: 70%;
		height: 100%;
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(10px);
		transition: 0.5s;
	}
}
@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}
	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}
	.nav__toggle,
	.nav__close {
		display: none;
	}
	.nav__list {
		display: flex;
	}
	.nav__item {
		margin-left: 3rem;
		margin-bottom: 0;
	}
	.home__container {
		height: 100vh;
		grid-template-columns: repeat(2, max-content);
		grid-template-rows: 1fr;
		row-gap: 0;
		align-items: center;
		justify-content: center;
	}
	.home__img {
		order: 1;
		width: 375px;
		height: 289px;
	}
	.home__img img {
		width: 375px;
	}
}
@media screen and (min-width: 1024px) {
	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}
	.home__container {
		justify-content: initial;
		column-gap: 4.5rem;
	}
	.home__img {
		width: 604px;
		height: 466px;
	}
	.home__img img {
		width: 604px;
	}
}
